.caixa {
    background-color: cyan;
    
    border-style: solid;
    padding: 25px;
}

.bolinha {
    display: inline-block;
    background-color: rgb(255, 103, 255);
    width: 100px;
    height: 100px;
    border-style: solid;
    border-radius: 50%;
    margin: 15px;
    text-align: center;  
}

img {
    width: 75%;
    height: 75%;
}